.vs/
.venv/
bin/
obj/
obj3/
__pycache__/

MapleStarters/
loenn-mcp/

.vscode/mcp.json
.fake
*.md
*.ps1
*.json
*.md
!README.md
!LICENSE.txt
!CONTRIBUTING.md
!CREDITS.md
!PROJECT_TODO.md
!.github/
!.github/**
VoidDreamAscent.zip
DesoloZantas_Code.zip
DesoloZantas_Audio.zip
DesoloZantas_MapsDialog.zip
.env

# Build logs
build*.txt
*.log
DesoloZantas_Audio.zip
DesoloZantas_MapsDialog.zip

Audio/*.bank.*
